body{
	/*overflow: hidden;*/
	margin: 0;
	box-sizing: border-box;
	font-family: 'Bitter', serif;
}
.images{
			background-image: url(images/cv11.jpg);
			height: 600px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
.overlay{
	background-color: rgba(77, 81, 214, 0.6);
	height: 600px;  

}

.navbar-brand{
	font-size: 30px !important;
}